<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="style.css">
    <title>E-commerce</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">E-commerce</a>
            </div>
            <div>
                <a href="cart.html">Carrinho</a>
                <a href="entrar.html">Entrar</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Produto 1</li>
                <li>Produto 2</li>
                <li>Produto 3</li>
            </ul>
        </main>
        <footer class="row center">
            Todos os direitos reservados
        </footer>
    </div>
    
</body>
</html>